

/* 디자인 시작 시 기본적으로 선언하는 문법 */
* {
    /* 기본 선언: 마진, 패딩 0, 요소 크기를 border를 기준으로.*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.container {
    width: 1200px;
    max-width: none !important;
  }



body, html {
    background-color: white;
    width: 100%;


}

img {
    max-width: 100%; /*사이즈가 변해도 넓이를 유지*/
    height: auto; /* 사이즈가 변해도 비율을 유지 */
}
/* 
input, textarea, button, select {
    고유하게 적용되어있는 form 관련 요소들을 제거해서
     여러 브라우저에서 동일한 디자인을 얻게 함.
    -webkit-appearance: none; 크롬, 사파리
    -moz-appearance: none; 파이어폭스
    appearance: none; ie, edge
    border: none;
} 
*/

input[type="number"]::-webkit-outer-spin-button, 
        input[type="number"]::-webkit-inner-spin-button {
        opacity: 1 !important;
        }

/* 이용약관 */

section .container .rowtext{
    width: 90%;
}


section .container.rowtext hr {
    width: 70%;
}

ul, ol, dl, li {
    /*리스트 스타일은 사용할 일이 많지 않아요.*/
    list-style: none; 
}

.btn {
    border-radius: 0px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* ========== join ========== */


/*checkbox*/

input[type="text"], select, input[type="password"] {
    height: 30px;
}



.titlebox {
    width: 250px;
    text-align: center;
    height: 65px;
    line-height: 40px;
    margin: 70px auto;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 20px;
}

.join-form {
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    padding: 10px 50px;
    float: none;
}

.toprow {
    background-color: lightgray;
    border-radius: 8px;
    padding: 15px;
    /*
    box-shadow: 1, 2, 3, 4, color
    1: 수평 방향 그림자 위치 -> 양수: 오른쪽, 음수: 왼쪽
    2: 수직 방향 그림자 위치 -> 양수: 박스아래, 음수: 박스 위
    3: 그림자 선명도 -> 양수: 그림자 끝이 흐려짐, 음수: x
    4: 그림자 확산 거리 -> 양수: 확대, 음수: 축소
    color: 그림자의 색상.
    */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/*------------------------*/

.lowrow {
    width: 100%;
    margin-top: 20px;
}

.lowrow .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1000px;
    display: inline-block;
}

.lowrow .form-group label {
    display: inline-block;
}

.lowrow .form-group span {
    display: inline-block;
}


.lowrow .form-group .form-control {
    width: 250px;
    display: inline-block;
}



.lowrow .form-group .input-group .form-control{
    width: 250px;
    display: inline-block;
}

.lowrow .form-group .input-group .input-group-addon button {
    margin-left: 20px;
    display: inline-block;
}



.input-group-addon {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
}

.form-control, .form-group .btn {
    border-radius: 0;
}

.form-control:hover {
    border-color: #555;
}

.jointx {
    margin: 10px auto;
    border: 1px solid #777;
    width: 95%;
    height: 200px;
    overflow: auto;
}

.endbtn {
    width: 100%;
    margin: 50px 400px;
}

.endbtn .btn-success {
    margin-left: 20px;
}

/* ====================회원가입 완료=========================*/

.fin-container {
    width: 1200px;
    text-align: center;

}
.fin-wrapper {
    width: 1200px;
    display: inline-block;
    margin-top: 100px;
}

svg {
    margin-left: 20px;
    width: 150px;
    fill: black;
}



.fin-table {
    width: 350px;
    margin: 20px auto;
    line-height: 2.5;
    
}

.fin-table tbody tr:nth-child(1) {
    border-top: 3px solid black;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.fin-table tbody tr:nth-child(2) {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.fin-table tbody td {
    border-right: 1px solid lightgray;
}

.fin-table tbody tr:nth-child(1) td:nth-child(2) {
    background-color: white;
}

.fin-table tbody tr:nth-child(2) td:nth-child(2) {
    background-color: white;
}


/*=========================== 주문 완료 =============================*/

.finor-container {
    width: 1200px;
    text-align: center;
}

.finor-wrapper {
    width: 600px;
    margin: 100px 300px;
}

.finor-wrapper2 {
    width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

/* top */

.finor-table tr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.finor-table td {
    border-top: 5px solid gray;
    padding: 20px;
    border-bottom: 5px solid gray;
}


.strong-font {
    font-size: 30;
}

/*주문정보*/

.finor-infota {
    width: 100%;
    border-collapse: collapse;
    
}

.finor-infoth {
    background-color: rgb(243, 240, 240);
    border-top: 2px solid gray;
    border-bottom: 1px solid rgb(240, 237, 237);
    line-height: 2.5;
}

.finor-infoth th{
    text-align: center;
}


.finor-infobo td:nth-child(1) {
    width: 100px;
}

td img {
    width: 100%;
}

.finor-infobo td:not(:first-child) {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}



.finor-infolo td {
    background-color: rgb(243, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
}

.finor-transinfota tr:nth-child(1){
    border-top: 2px solid gray;
}

.finor-transinfota tr:not(first-child) {
    border-bottom: 1px solid rgb(202, 202, 202);
    line-height: 2.5;
}

.finor-transinfota tr td:nth-child(1) {
    background-color: rgb(243, 240, 240);
}

.finor-transinfota td {
    padding-left: 10px;
};

/*=============================주문 결제 =========================*/

/*=============================회원 탈퇴 =========================*/

.mw-container {
    margin-top: 20px;
}

.mw-text {
    margin-top: 80px;
    line-height: 1.4;
}

.mw-tablediv {
    margin-top: 30px;
    text-align: left;
}

.mw-tablediv div span {
    margin-right: 35px;
    line-height: 1.8;
}

.mw-tablediv div input {
    width: 550px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 20px;
}

.mw-button {
    margin-top: 120px;
    margin-left: 250px;



}

.mw-button button {
    width: 250px;
    font-size: 30px;
    background-color: black;
}
