/*======= 웹 폰트 선언 =======*/

/* 디자인 시작 시 기본적으로 선언하는 문법 */
* {
    /* 기본 선언: 마진, 패딩 0, 요소 크기를 border를 기준으로.*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%; /*사이즈가 변해도 넓이를 유지*/
    height: auto; /* 사이즈가 변해도 비율을 유지 */
}

input, textarea, button, select {
    /* 고유하게 적용되어있는 form 관련 요소들을 제거해서
     여러 브라우저에서 동일한 디자인을 얻게 함.*/
    -webkit-appearance: none; /*크롬, 사파리*/
    -moz-appearance: none; /*파이어폭스*/
    appearance: none; /*ie, edge*/
    border: none;
}

ul, ol, dl, li {
    /*리스트 스타일은 사용할 일이 많지 않아요.*/
    list-style: none; 
}

.btn {
    border-radius: 0px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container-fluid {
    width: 1200px;
}

.container {
    width: 1200px;
}

/* ========== 본문 ========== */

section {
    margin-top: 75px;
}

/* 섹션 전체에 패딩 추가 */
.prod-list, .prod-link {
    border: 1px solid #ddd;
    display: block;
    text-align: center;
}



/*
 기본 부트스트랩의 패딩은 15px.
 ul과 li사이, li와 li 사이의 패딩을 줄이겠습니다.
*/
.prod-list,
.prod-list > li[class^="col-"] {
    padding: 5px;
}

/* 상품을 hover시 테두리 빛나게 */
/*
.prod-link:hover {
    border-color: #4285f4;
}
*/

/*맵 */

.mapsize {
    margin: 0 auto;
    
}

/* 이달의 커피 */



section .container-fluid .row div h2 {
    text-align: center;
}

.prod-link > .arrow {
    display: block; /* 인라인 요소는 position 속성 사용 불가 */
    position: absolute;
    left: 15px;
    bottom: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ccc;
    color: #fff;
    opacity: 1;
}

.prod-link .hover {
    width: 100px;
    background: #4285f4;
    opacity: 0;
}

.prod-link:hover .arrow {
    opacity: 0;
}

.prod-link:hover .hover {
    opacity: 1;
}

