<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memSbscrInfo</title>
    <!--부트스트랩-->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/6bdfd4f896.js" crossorigin="anonymous"></script>

    <style>
        .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }
    
        .container {
            min-width: 1200px;
            margin-top: 150px;
            margin-bottom: 150px;
        }
    
        .membership {
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    
        .membership-text {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px;
            margin: 20px;
        }
    
        .membership-text3 {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 80px;
            margin: 20px;
        }
    </style>

</head>

<body>
    
<header>

    <div class="header">
        <nav class="header-container">
            <div class="header-logo">
                <a href="#"><img width="150px" src="../img/logo.png" alt="logo"></a>
            </div>


            <ul class="header-nav header-nav-upper clearfix">
                <li><a data-toggle="modal" href="#myModal">로그인</a></li>
                <li><a href="#">#님<span class="caret"></span></a></li>
                <li><a href="#">마이페이지</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>

            <ul class="header-nav header-nav-dropdown clearfix">
                <li><a href="#">사이트 소개</a></li>
                <li><a href="#">Alley 위치</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">Coffee Talk</a></li>
                <li><a href="#">카페 게시판</a></li>
                <li class="dropdown">
                    <a href="#">이벤트</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">이벤트 요약</a></li>
                        <li><a href="#">이벤트 공지</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Owner Mall </span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">원두</a></li>
                        <li><a href="#">티 / 액상차</a></li>
                        <li><a href="#">유제품</a></li>
                        <li><a href="#">시럽 / 소스</a></li>
                        <li><a href="#">파우더 / 농축액</a></li>
                        <li><a href="#">커피용품, 머신</a></li>
                    </ul>
                </li>
            </ul>

        </nav>

    </div>

</header>

<!----------------------------------------------------------로그인  Modal ---------------------------------------------------------->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">로그인</h4>
            </div>
            <div class="modal-body">
                <form action="#">
                    <h5>아이디</h5>
                    <input type="text" class="form-control" placeholder="Text input">
                    <h5>비밀번호</h5>
                    <input type="password" class="form-control" placeholder="password input">
                    <label>
                        <input type="checkbox">
                        <small>로그인 유지</small>
                    </label>
                    <div class="login-center">
                        <button type="button" class="btn btn-primary btn-block">Log In</button>
                        <div class="login-center2 clearfix">
                            <div style="float:left;">
                                아직 회원이 아니신가요?
                            </div>
                            <div style="float: right;">
                                <a href="#">일반회원 가입</a><br>
                                <a href="#">카페회원 가입</a>
                            </div>
                        </div>

                        <div class="login-p-center">또는</div>
                        <button type="button" class="btn btn-block"
                            style="background-color: #04cf5c; color: white;"><strong>N</strong></strong></button>
                    </div>
                </form>
                <br>
                <div class="login-p-center">네이버 가입은 일반 회원만 가능합니다.</div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br>
                    <h1><strong>멤버십 구독 서비스</strong></h1>

                    <div class="membership">
                        cafe alley 만의 구독 서비스<br>
                        cafe alley에 등록된 모든 카페의 멤버십 통합!<br>
                        어느 곳에서나 10잔 이상 구매시 1잔 무료!
                    </div>


                    <div class=containter-fluid>
                        <div class="row">
                            <!--내용은 변경-->
                            <div class="col-md-4">
                                <h3><strong>회원 구독 서비스</strong></h3>
                                <div class="membership-text">
                                    <strong>cafe alley만의 모든 카페 멤버십을 통합!!</strong><br>
                                    <br>
                                    어느 카페든 10잔을 구매했을 경우 <br>
                                    <strong>1잔 무료 서비스!</strong><br>
                                    <br>
                                    커피 맛집, 디저트 맛집 <br>
                                    노키즈존, 반려동물 동반가능 등 <br>
                                    편의시설을 따로따로 알아 볼 필요 없이 <br>
                                    한번에 찾아 볼 수 있는 편리함!
                                </div>

                            </div>
                            <div class="col-md-4">
                                <h3><strong>사장님 구독 서비스</strong></h3>
                                <div class="membership-text">
                                    카페 물품 <br>
                                    이곳 저곳 돌아다니지 않고 <br>
                                    한 곳에서 편리하게! <br>
                                    시중가보다 더욱 저렴하게! <br>
                                    <br>
                                    우리 가게의 홍보를 보다 쉽게! <br>
                                    고객 관리를 더 편리하게! <br>
                                    커뮤니티로 <br>
                                    고객 유치는 자연스럽게!
                                </div>

                            </div>
                            <div class="col-md-4">
                                <h3><strong>금액 안내</strong></h3>
                                <div class="membership-text3">
                                    이 모든 혜택을<br>
                                    월 4,000원에 만나보세요!
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn">구독 서비스 신청</button>
                </div>

            </div>
        </div>

<footer>

    <div class="footer-container clearfix">

        <div class="footer-left">
            <div class="footer-logo">
                <a href="#"><img width="150px" src="../img/logo2.png" alt="logo"></a>
                <span class="footer-name">Cafe Alley</span><br><br>
                <span class="footer-desc">논 브랜디드 카페의 활성화, 커피 문화를 선도합니다.</span>
            </div>
            <hr>
            <p class="footer-business">
                대표자 : 김골목 | E-MAIL : info@info.com<br>
                사업자번호 : 123-45-67890 | 개인정보보호책임자 : 김골목 | 통신판매업 : 2019-서울마포-0001<br>
                주소 : 서울특별시 마포구 대흥동
            </p>
            <p class="footer-copyright">
                Copyright © 2022 COFFEE ALLEY (c). All Rights Reserved E-mail : <a
                    href="mailto:coffeealley.gmail.com">coffeealley.gmail.com</a>
            </p>
        </div>

        <div class="footer-right clearfix">
            <ul class="footer-nav clearfix">
                <li><a href="#">사이트 소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
            </ul>
            <div class="footer-sns">
                <a href="#"><span class="fa-brands fa-facebook-square"></span></a>

                <a href="#"><span class="fa fa-instagram"></span></a>

                <a href="#"><span class="fa-brands fa-youtube"></span></a>
            </div>

        </div>

    </div>

</footer>

        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.js"></script>
</body>

</html>