<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.cafealley.board.mapper.INoBoardMapper">
  

  <insert id="regist">
	INSERT INTO noboard(bno, title, writer, content,key)
		VALUES(noboard_seq.NEXTVAL, #{title}, #{writer}, #{content},#{key})
  </insert>
  
  <select id="getContent" resultType="com.spring.cafealley.command.BoardVO">
		SELECT * FROM noboard 
		WHERE bno = #{bno}
	</select>
	
	<update id="update">
		UPDATE noboard
		SET title = #{title}, content = #{content}, regdate = sysdate, ismod = '1'
		WHERE bno = #{bno}
	</update>
	
	<delete id="delete">
		DELETE FROM noboard
		WHERE bno = #{bno}
	</delete>
  
  <!--전부 가져오는 sql  -->
  <select id="getList" resultType="com.spring.cafealley.command.BoardVO">
  			SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM noboard
				ORDER BY bno DESC
				) tbl
			)
		<![CDATA[
		WHERE rn > (#{pageNum} - 1) * #{countPerPage}
		AND rn <= #{pageNum} * #{countPerPage}
		]]>
		
  </select>
  

  
  <select id="getTotal" resultType="int">
  	SELECT COUNT(*)
  	FROM noboard
  </select>
  
  
  </mapper>