<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.cafealley.ordering.mapper.IOrderingMapper">
  
  	<!-- VO클래스의 멤버변수가 컬렉션 타입일 경우에는 collection 태그를 이용합니다. -->
	<!--
		collection 타입의 변수에 값을 매길 때는 어떤 객체로 포장해서 넣을 지를
		새로운 resultMap으로 선언해 주셔야 합니다.
	 -->
  	<resultMap type="com.spring.cafealley.command.OrderingVO" id="orderInfo">
  		<id property="ordernum" column="ordernum"/>
  		<result property="userid" column="userid"/>
  		<result property="carttype" column="carttype"/>
  		<result property="ordertotalprice" column="ordertotalprice"/>
  		<result property="orderstatus" column="orderstatus"/>
  		<result property="orderdate" column="orderdate"/>
  		<result property="deliverytracknum" column="deliverytracknum"/>
  		<result property="orderusername" column="orderusername"/>
  		<result property="orderuserphone1" column="orderuserphone1"/>
  		<result property="orderuserphone2" column="orderuserphone2"/>
  		<result property="orderuserphone3" column="orderuserphone3"/>
  		<result property="orderuseremail" column="orderuseremail"/>
  		<result property="deliveryname" column="deliveryname"/>
  		<result property="deliverypostnum" column="deliverypostnum"/>
  		<result property="deliverybasicaddr" column="deliverybasicaddr"/>
  		<result property="deliverydetailaddr" column="deliverydetailaddr"/>
  		<result property="deliveryphone1" column="deliveryphone1"/>
  		<result property="deliveryphone2" column="deliveryphone2"/>
  		<result property="deliveryphone3" column="deliveryphone3"/>
  		<result property="deliverymemo" column="deliverymemo"/>
  		<result property="paymethod" column="paymethod"/>
  		<result property="paybankname" column="paybankname"/>
  		<result property="paybank" column="paybank"/>
  		<result property="refundreason" column="refundreason"/>
  		<result property="refunddetailreason" column="refunddetailreason"/>
  		<result property="refundtracknum" column="refundtracknum"/>
  		<result property="refundbankname" column="refundbankname"/>
  		<result property="refundbank" column="refundbank"/>
  		<collection property="ordercart" resultMap="cart"/>
  	</resultMap>
  	
  	
  	<resultMap type="com.spring.cafealley.command.CartVO" id="cart">
  		<id property="cartno" column="cartno"/>
  		<result property="carttype" column="ccarttype"/>
  		<result property="prono" column="prono"/>
  		<result property="userid" column="cuserid"/>
  		<result property="cartamount" column="cartamount"/>
  		<result property="carttotalprice" column="carttotalprice"/>
  	</resultMap>
  	
  
  	<sql id="update">
  		<if test="deliverytracknum != null and deliverytracknum != '' ">
  			,deliverytracknum = #{deliverytracknum}
  		</if>
  		<if test="refundreason != null and refundreason != '' ">
  			,refundreason= #{refundreason}
  		</if>
  		<if test="refunddetailreason != null and refunddetailreason != '' ">
  			,refunddetailreason = #{refunddetailreason}
  		</if>
  		<if test="refundbankname != null and refundbankname != '' ">
  			,refundbankname = #{refundbankname}
  		</if>
  		<if test="refundbank != null and refundbank != '' ">
  			,refundbank = #{refundbank}
  		</if>
  	</sql>
  
  
    <sql id="getListUserId">
    	<if test="userid != 'allofthem'">
    		WHERE o.userid = #{userid}
    	</if>
    </sql>  
    
    <sql id="status">
    	<if test="userid != 'allofthem'">
    		<if test="paging.condition == '1'">
   		 		OR o.orderstatus == 'waitdeposit'
    			OR o.orderstatus == 'completedeposit'
    		</if>
    		 <if test="paging.condition == '2'">
    			OR o.orderstatus == 'ontheboard'
    			OR o.orderstatus == 'completedelivery'
    		 </if>
    		 <if test="paging.condition == '3'">
    		 	OR o.orderstatus == 'refund'
    		 	OR o.orderstatus == 'exchange'
    		 </if>
    		 <if test="paging.condition == '4'">
    		 	OR o.orderstatus == 'ordercancel'
    		 </if>
    	</if>
    	<if test="userid == 'allofthem'">
    		<if test="paging.condition == '1'">
   		 		WHERE o.orderstatus == 'waitdeposit'
    			OR o.orderstatus == 'completedeposit'
    		</if>
    		 <if test="paging.condition == '2'">
    			WHERE o.orderstatus == 'ontheboard'
    			OR o.orderstatus == 'completedelivery'
    		 </if>
    		 <if test="paging.condition == '3'">
    		 	WHERE o.orderstatus == 'refund'
    		 	OR o.orderstatus == 'exchange'
    		 </if>
    		 <if test="paging.condition == '4'">
    		 	WHERE o.orderstatus == 'ordercancel'
    		 </if>
    	</if>
    </sql>
  
  
  	<insert id="order">
  	INSERT INTO ordering
  	(ordernum, userid, carttype, ordertotalprice, 
  	orderusername, orderuserphone1, orderuserphone2, orderuserphone3, orderuseremail,
  	deliveryname, deliverypostnum, deliverybasicaddr, deliverydetailaddr,
  	deliveryphone1, deliveryphone2, deliveryphone3, deliverymemo,
  	paymethod, paybankname, paybank)
  	VALUES(ordernum_seq.NEXTVAL, #{userid}, #{carttype},#{ordertotalprice},
  	#{orderusername}, #{orderuserphone1}, #{orderuserphone2}, #{orderuserphone3}, #{orderuseremail},
  	#{deliveryname}, #{deliverypostnum}, #{deliverybasicaddr}, #{deliverydetailaddr},
  	#{deliveryphone1}, #{deliveryphone2}, #{deliveryphone3}, #{deliverymemo},
  	#{paymethod}, #{paybankname}, #{paybank})
  	</insert>
  	
  	<select id="getList" resultMap="orderInfo">
	SELECT * 
	  FROM( SELECT ROWNUM AS rn,
	           				 tbl.*
	          FROM (SELECT o.*,
	          	     	   c.cartno,
	          	     	   c.carttype as ccarttype,
	          	     	   c.prono,
	          	     	   c.userid as cuserid,
	          	     	   c.cartamount,
	          	     	   c.carttotalprice
	            	  FROM ordering o 
	              	  LEFT OUTER JOIN cart c
		            	ON o.userid = c.userid 
		           	   AND o.carttype = c.carttype
	 	         	   <include refid="getListUserId"/>
	 	         	   <include refid="status"/>
	         	 	 ORDER BY o.ordernum DESC) tbl)
	<![CDATA[
	WHERE rn <= #{paging.pageNum} * #{paging.countPerPage} 
	AND rn > ((#{paging.pageNum} - 1) * #{paging.countPerPage})
	]]> 
  	</select>
  	
  	
  	<select id="getOrder" resultType="com.spring.cafealley.command.OrderingVO">
  	SELECT * 
  	  FROM ordering
  	 WHERE userid = #{userid}
  	   AND carttype = #{carttype}
  	</select>
  	
  	<select id="getOrderByOrdernum" resultType="com.spring.cafealley.command.OrderingVO">
  	SELECT *
  	  FROM ordering
  	 WHERE ordernum = #{ordernum}
  	</select>
  	
  	<update id="modify">
  	UPDATE ordering
  	   SET orderstatus = #{orderstatus}
  		   <include refid="update"></include>
  	 WHERE ordernum = #{ordernum}
  	</update>
  	
  	<delete id="delete">
  	DELETE ordering
  	 WHERE ordernum = #{ordernum}
  	</delete>
  
	<select id="getTotal" resultType="int">
  	SELECT COUNT(*)
  	FROM ordering
  </select>
  
  	<select id="getExistPro" resultType="int">
		SELECT COUNT(c.prono)
		  FROM ordering o
		  LEFT OUTER JOIN cart c
			ON o.userid = c.userid
		 WHERE c.prono = #{prono}
		   AND o.carttype = c.carttype
  	</select>
  
  
  
  </mapper>