<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.spring.cafealley.product.mapper.IProductMapper">
	<sql id="categorynkeyword">
		<if test=" cat != null and cat != '' ">WHERE procategory = #{cat}</if>
		<if test=" keyword != null and keyword != '' ">WHERE proname LIKE '%'|| #{keyword} || '%'</if>
	</sql>
  
  
	<select id="getList" resultType="com.spring.cafealley.command.ProductVO">
  		SELECT * 
  		  FROM product
  		  <include refid="categorynkeyword"/>
  	  ORDER BY prono DESC
	</select>
	  
	<insert id="insertProduct">
		INSERT
		  INTO product (prono,proname,proprice,prosellprice,procategory,prodetail,prostock,filenum)
		VALUES (pro_seq.NEXTVAL,#{proname},#{proprice},#{prosellprice},#{procategory},#{prodetail},#{prostock},#{filenum})
	</insert>
	  
	  <update id="updateProduct" >
		UPDATE product
	 	   SET proname =#{proname}, proprice=#{proprice}, prosellprice= #{prosellprice},procategory= #{procategory}
	 		  ,prodetail=#{prodetail},prostock=#{prostock}
	  	 WHERE prono = #{prono}
	  </update>
	  
	  <delete id="deleteProduct">
 		DELETE FROM product
	  	 WHERE prono =#{prono}
	  </delete>
	  
	  <select id="getProduct" resultType="com.spring.cafealley.command.ProductVO">
		SELECT * 
		  FROM product
	     WHERE prono =#{prono}
	  </select>
	  
  </mapper>