<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring.cafealley.promoboard.mapper.IPromoBoardMapper">

	<!-- 체크하면 true -> 제한 하면 true -->
	
	<sql id="area">
		<if test="vo.area == '서울'">AND area = '서울'</if>
		<if test="vo.area == '경기/인천'">AND area = '경기/인천'</if>
		<if test="vo.area == '강원'">AND area = '강원'</if>
		<if test="vo.area == '충북'">AND area = '충북'</if>
		<if test="vo.area == '충남/대전'">AND area = '충남/대전'</if>
		<if test="vo.area == '경북/대구'">AND area = '경북/대구'</if>
		<if test="vo.area == '경남/부산'">AND area = '경남/부산'</if>
		<if test="vo.area == '전북'">AND area = '전북'</if>
		<if test="vo.area == '전남/광주'">AND area = '전남/광주'</if>
		<if test="vo.area == '제주'">AND area = '제주'</if>
		
	</sql>
	
	<sql id="restrict">
	
		<if test="vo.limitation1 == 'true' and vo.limitation2 == 'true' and vo.limitation3 == 'true'">
		WHERE limitation1 = 'true' AND limitation2 = 'true' AND limitation3 = 'true'
		</if>
		<if test="vo.limitation1 == 'true' and vo.limitation2 == 'true' and vo.limitation3 == 'false'">
		WHERE limitation1 = 'true' AND limitation2 = 'true' AND limitation3 = 'false'
		</if>
		<if test="vo.limitation1 == 'true' and vo.limitation2 == 'false' and vo.limitation3 == 'false'">
		WHERE limitation1 = 'true' AND limitation2 = 'false' AND limitation3 = 'false'
		</if>
		<if test="vo.limitation1 == 'true' and vo.limitation2 == 'false' and vo.limitation3 == 'true'">
		WHERE limitation1 = 'true' AND limitation2 = 'false' AND limitation3 = 'true'
		</if>
		<if test="vo.limitation1 == 'false' and vo.limitation2 == 'true' and vo.limitation3 == 'true'">
		WHERE limitation1 = 'true' AND limitation2 = 'true' AND limitation3 = 'true'
		</if>
		<if test="vo.limitation1 == 'false' and vo.limitation2 == 'true' and vo.limitation3 == 'false'">
		WHERE limitation1 = 'true' AND limitation2= 'true' AND limitation3 = 'false'
		</if>
		<if test="vo.limitation1 == 'false' and vo.limitation2 == 'false' and vo.limitation3 == 'true'">
		WHERE limitation1 = 'false' AND limitation2 = 'false' AND limitation3 = 'true'
		</if>
		<if test="vo.limitation1 == 'false' and vo.limitation2 == 'false' and vo.limitation3 == 'false'">
		where pr.writer = u.username 
		
		</if>
	</sql>
	
	<sql id="mood">
		<if test="vo.place == 'Nature / Wooden'">
		AND place = 'Nature / Wooden'
		</if>
		<if test="vo.place == 'Concrete / Industrial'">
		AND place = 'Concrete / Industrial'
		</if>
		<if test="vo.place == 'Modern / Neat'">
		AND place = 'Modern / Neat'
		</if>
		<if test="vo.place == 'Retro / Vintage'">
		AND place = 'Retro / Vintage'
		</if>
		<if test="vo.place == 'Cozy / Comfort'">
		AND place = 'Cozy / Comfort'
		</if>
		<if test="vo.place == null or vo.place ==''">
		
		</if>
	</sql>
	
	
	
	<sql id="search">
		<if test="page.condition == 'writer'">
			WHERE writer LIKE '%'||#{page.keyword}||'%'
		</if>
		<if test="page.condition == '' or page.condition == null">
			
		</if>
	</sql>
	

	

		
	
	<!-- 글등록 -->
	<insert id="regist">
		INSERT INTO Promoboard(bno, writer, key, content, area, place, regdate, limitation1, limitation2, limitation3, filecnt)
		VALUES(promoboard_seq.NEXTVAL, #{writer}, #{key}, #{content}, #{area}, #{place}, sysdate, #{limitation1}, #{limitation2}, #{limitation3}, #{filecnt})
	</insert>

	<!-- 목록 -->
	<select id="getList"
		resultType="com.spring.cafealley.command.PromoBoardVO">
		SELECT * FROM
			(
			SELECT ROWNUM as rn, tbl.* FROM
				(
				SELECT pr.*,
					   u.filenum
				  FROM promoboard pr
				  LEFT JOIN users u
				    ON pr.writer = u.username
				<include refid="restrict"/>
				<include refid="area"/>
				<include refid="mood"/>
				
				<include refid="search"/>
				
				ORDER BY pr.bno DESC
				) tbl
			)
		<![CDATA[
		WHERE rn > (#{page.pageNum} - 1) * #{page.countPerPage}
		AND rn <= #{page.pageNum} * #{page.countPerPage}
		]]>
	</select>
	
	<select id="getRanked" resultType="com.spring.cafealley.command.PromoBoardVO">
				
		SELECT pr.*,
			   u.filenum
		FROM promoboard pr
		LEFT JOIN users u
		ON pr.writer = u.username
		WHERE bno = #{bno}
	</select>
	

	<!-- 상세보기 -->
	<select id="getContent"
		resultType="com.spring.cafealley.command.PromoBoardVO">
		SELECT pr.* , u.filenum  
		  FROM 
		promoboard pr LEFT JOIN users u
		ON pr.writer = u.username
		WHERE bno = #{bno}
	</select>

	<!-- 수정 -->
	<update id="update">
		UPDATE promoboard
		SET content = #{content}, area = #{area}, place =
		#{place}, limitation1 = #{limitation1}, limitation2 = #{limitation2}, limitation3 = #{limitation3},
		regdate = sysdate, ismod ='1'
		WHERE bno = #{bno}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM promoboard
		WHERE bno = #{bno}
	</delete>
	
	<!-- 총 게시물 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM promoboard
	</select>
	
	
	
	<!-- //////////////////////////////////////////////////////////////// -->
	
	<!-- 좋아요 등록 -->
	<insert id="createLike">
		INSERT INTO promoboardlike
		(bno, userid, lno)
		VALUES(#{bno}, #{userid}, promoboardlike_seq.NEXTVAL)
	</insert>
	
	<!-- 좋아요 검색 -->
	<select id="searchLike" resultType="com.spring.cafealley.command.PromoLikeVO">
		SELECT * FROM promoboardlike
		WHERE bno=#{bno} AND userid=#{userid}
	</select>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike">
		DELETE FROM promoboardlike
		WHERE bno=#{bno} AND userid=#{userid}
	</delete>
	
	<!-- 리스트 진입 시 좋아요 -->
	<select id="listLike" resultType="int">
		SELECT bno FROM promoboardlike
		WHERE userid=#{userid}
	</select>
	
	<!-- 게시물 당 좋아요 수 확인 -->
	<select id="likeCnt" resultType="int">
		SELECT COUNT(*) FROM
		promoboardlike 
		WHERE bno = #{bno}
	</select>
	
	<!-- 카페보드 신규 글 5개 가져오기 -->
	<select id="cntCafe" resultType="com.spring.cafealley.command.PromoBoardVO">
		SELECT * FROM
		(
		SELECT ROWNUM as rn, tbl.*
		
		FROM
		    (
		    SELECT *
		    FROM promoboard
		    ORDER BY regdate DESC
		    ) tbl
		)
		<![CDATA[
		WHERE rn > 0
		AND rn <= 5
		]]>	
	</select>
	
	
	


</mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  