<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.cafealley.shopboard.mapper.IShopboardMapper">
  
  <resultMap type="com.spring.cafealley.command.ShopboardVO" id="shopInfo">
  	<id property="bno" column="bno"/>
  	<result property="title" column="title"/>
  	<result property="content" column="content"/>
  	<result property="regdate" column="regdate"/>
  	<result property="hit" column="hit"/>
  	<result property="prono" column="prono"/>
  	<result property="prono2" column="prono2"/>
  	<result property="prono3" column="prono3"/>
  	<result property="prono4" column="prono4"/>
  	<result property="filenum" column="filenum"/>
  	<collection property="proList" resultMap="product"/>
  </resultMap>
  
  <resultMap type="com.spring.cafealley.command.ProductVO" id="product">
  	<id property="prono" column="productprono"/>
  	<result property="proname" column="proname"/>
  	<result property="proprice" column="proprice"/>
  	<result property="prosellprice" column="prosellprice"/>
  	<result property="procategory" column="procategory"/>
  	<result property="prodetail" column="prodetail"/>
  	<result property="prostock" column="prostock"/>
  	<result property="filenum" column="productfilenum"/>
  </resultMap>
  
  
  
  <sql id="regist">
  	<if test=" prono2 != null and prono2 != '' ">prono2, </if>
  	<if test=" prono3 != null and prono2 != '' ">prono3, </if>
  	<if test=" prono4 != null and prono2 != '' ">prono4, </if>
  </sql>
  <sql id="regist2">
  	<if test=" prono2 != null and prono2 != '' ">#{prono2}, </if>
  	<if test=" prono3 != null and prono2 != '' ">#{prono3}, </if>
  	<if test=" prono4 != null and prono2 != '' ">#{prono4}, </if>
  </sql>

  
  <insert id="regist">
  INSERT 
  	INTO shopboard (bno, title, content, prono, <include refid="regist"/> filenum) 
  VALUES (shopbno_seq.NEXTVAL, #{title}, #{content}, #{prono}, <include refid="regist2"/> #{filenum})
  </insert>
  <!-- 
  <select id="getPronoCount">
  	SELECT prono,
  		   prono2,
  		   prono3,
  		   prono4
  	  FROM shopboard 
  </select>
   -->
  <select id="getList" resultMap="shopInfo">
  SELECT s.bno,
         s.title,
         s.content,
         s.regdate,
         s.hit,
         s.prono, 
         s.prono2, 
         s.prono3, 
         s.prono4, 
         s.filenum,
  		 p.prono as productprono,
         p.proname,
         p.proprice,
         p.prosellprice,
         p.procategory,
         p.prodetail,
         p.prostock,
         p.filenum as productfilenum
    FROM shopboard s
    LEFT OUTER JOIN product p
      ON s.prono = p.prono
      OR s.prono2 = p.prono
      OR s.prono3 = p.prono
      OR s.prono4 = p.prono
   ORDER BY s.regdate DESC
  </select>
  
  <select id="getContent" resultMap="shopInfo">
  SELECT s.bno,
         s.title,
         s.content,
         s.regdate,
         s.hit,
         s.prono, 
         s.prono2, 
         s.prono3, 
         s.prono4, 
         s.filenum,
  		 p.prono as productprono,
         p.proname,
         p.proprice,
         p.prosellprice,
         p.procategory,
         p.prodetail,
         p.prostock,
         p.filenum as productfilenum
    FROM shopboard s
    LEFT OUTER JOIN product p
      ON s.prono = p.prono
      OR s.prono2 = p.prono
      OR s.prono3 = p.prono
      OR s.prono4 = p.prono
  WHERE bno = #{bno}
  ORDER BY s.regdate DESC
  </select>
  
  <!-- shopboard의 게시글 수정페이지 안만들어서 어떻게 해야할지 고민중..
  수정페이지는 수정할 때 상품 및 이미지는 바꾸지 못하고, 글 제목과 내용만 수정하도록 할 것이라고 일단정해둠 -->
  <update id="modify">
  UPDATE shopboard
  SET title = #{title}, content = #{content}
  WHERE bno = #{bno}
  </update>
  
  <delete id="delete">
  DELETE FROM shopboard
  WHERE bno = #{bno}
  </delete>
  
  
  </mapper>